body {
  text-align: center;
  justify-content: center;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: 'Rosario', sans-serif;
  font-weight: 200;
}
h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3.3em;
  letter-spacing: 2px;
  line-height: 1.3em;
  margin-top: -.5em;
}
h2 a {
  font-family: 'Rosario', sans-serif;
  font-weight: 600;
  font-size: 2em;
  color: black;
  text-decoration: none;
}
h4 {
  font-family: 'Playfair Display', serif;
  font-size: 1.2em;
  font-weight: 200;
}
h4 a {
  text-decoration: none;
  color: black;
  transition: all 0.5s ease 0s;
}
h4 a:hover {
  color: grey;
  transition: .9s;
}
li a {
  font-family: 'Rosario', sans-serif;
  font-weight: 600;
}
figure {
  padding: 0;
  margin: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5% 0 7%;
  height: 4.7em;
  margin: -1.5em 0;
  background-color: white;
}
.navlinks {
  list-style: none;
}
.navlinks li {
  display: inline-block;
  padding: 0 1em;
}
.navlinks li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: black;
  font-size: .9em;
  position: relative;
}
nav ul li a:hover {
  color:black;
  transition: .9s;
}
nav ul li a:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) scaleX(0);
  transform-origin: 50% 50%;
  width: 100%;
  height: 2px;
  background-color: red;
  transition: transform 250ms;
}
nav ul li a:hover:after {
  transform: translateX(-50%) scaleX(1);
}
.fullnav {
  position: sticky;
  top: 0px;
  z-index: 1000;
}
.fullnav h2 {
  letter-spacing: 3px;
}
button {
  padding: 15px 40px;
  background-color: transparent;
  color: white;
  letter-spacing: 2px;
  border: 5px solid white;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  letter-spacing: 1px;
  border: 5px solid black;
  border-radius: 30px;
  background-color: black;
  color: white;
}
.socialmedia a img {
  height: 1.5em;
  margin: .6em .1em;
}
.socialmedia a img:hover {
  transform: scale(1.1);
}
.banner {
  position: relative;
  z-index: 0;
}
.bannertext {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 1em;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.bannertext p {
  font-weight: 300;
}
.banner img {
  width: 100%;
  height: 550px;
  object-fit: cover;
  margin: 0;
  padding: 0;
}
.slider {
  overflow: hidden;
}
.slider figure {
  position: relative;
  width: 300%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}
.slider figure div {
  width: 33.3333%;
  float: left;
}
#moretext {
  width: 90%;
}
#moretext1 {
  width: 90%;
}
#moretext2 {
  width: 90%;
}
.greybox {
  background-color: #F5F5F5;
  display: flex;
  position: relative;
  width: 80%;
  height: 600px;
  margin: 2em auto 3em auto;
}
.featured-logo {
  position: absolute;
  right: 1em;
  bottom: 0;
  font-size: 2.5em;
  letter-spacing: 3px;
}
.greybox img {
  width:50%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.greybox-text {
  padding: 6em 2.5em 2.5em 2.5em;
  font-family: 'Playfair Display', serif;
  font-weight: 200;
  font-size: 1.5em;
  text-align: left;
}
.greybox-text h2 {
  margin: 0;
}
.greybox-text span, .currentposts span {
  font-family: 'Rosario', sans-serif;
  font-size: .7em;
  font-weight: 300;
  letter-spacing: .2em;
  margin: 0;
}
.greybox-text p {
  font-family: 'Rosario', sans-serif;
  font-weight: 300;
  font-size: .7em;
  color: black;
}
.about-article {
  padding-top: 1em;
  line-height: 2em;
  font-family: 'Rosario', sans-serif;
  font-weight: 300;
  font-size: .7em;
  color: grey;
}
span {
  color: red;
}
hr {
  margin-top: 2em;
}
.first-container {
  background-color: #F5F5F5;
  padding: 3em 4em;
	display: grid;
  grid-template-columns: 70% 30%;
  column-gap: 2em;
  text-align: left;
}
.first-container img {
  width: 100%;
  height: 30em;
  margin-top: 1.5em;
  object-fit: cover;
}
.first-container h2 {
  font-family: 'Playfair Display', serif;
  font-size: 1.8em;
  font-weight: 200;
  margin-top: .5em;
}
.first-container h3 {
  font-size: 1.4em;
  letter-spacing: 2.5px;
  font-weight: 400;
}
.currentposts {
  width: 95%;
}
.currentposts p {
  margin-top: 2em;
  font-size: .8em;
  letter-spacing: 1px;
  color: black;
}
.currentposts span {
  font-size: 1em;
  font-weight: 300;
  line-height: 2em;
}
.currentposts h2 {
  margin: .5em 0 0 0;
}
.sidebar-logo {
  font-weight: 800;
  color: black;
}
.first-container p {
  margin-top: -1em;
}
.first-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.list {
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: left;
}
.list ul {
  width: 100px;
}
.list ul li {
  line-height: 3em;
}
.list ul li a {
  text-decoration: none;
  color: black;
  transition: all 0.5s ease 0s;
}
.list ul li a:hover {
  transition: .9s;
  color: red;
}
input {
  width: 90%;
  padding: 9px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.sidebar button {
  padding: 13px 35px;
  background-color: black;
  color: white;
  border: 2px solid black;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-top: 1em;
}
.sidebar button:hover {
  letter-spacing: 1px;
  border: 2px solid black;
  border-radius: 30px;
}
.othertext {
  padding: .7em 0 0 0;
  margin-right: 1.5em;
  letter-spacing: 0;
  line-height: 1.9em;
  font-weight: 200;
}
.latestposts p {
  font-size: .8em;
  letter-spacing: 1px;
  margin-top: -1.5em;
}
.featuredposts img {
  width: 100%;
  height: 15em;
  object-fit: cover;
}
.featuredposts p {
  font-size: .8em;
  letter-spacing: 1px;
  margin-top: -1.5em;
}
.featuredposttext {
  margin-bottom: 0;
}
.featuredposts h4 {
  margin-top: .3em;
}

/*--------------- Article Page ------------------*/
.article-title {
  font-family: 'Playfair Display', serif;
  font-size: 1.8em;
  font-weight: 200;
  margin-top: 3em;
  margin: 3em auto 0 auto;
  width: 90%;
}
.article-banner {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.article-content p {
  width: 60%;
  text-align: center;
  margin: 1em auto 3em auto;
  line-height: 2em;
}
.article-content h1 {
  font-size: 2.5em;
}
.rec-title {
  font-weight: 100;
  font-size: 1.3em;
  margin-bottom: 1em;
}
.fashion-likes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 2em 2.5em 2em;
}
.other-post1 {
  grid-column: 1/2;
}
.other-post2 {
  grid-column: 2/3;
}
.other-post3 {
  grid-column: 3/4;
}
.other-post1 h4, .other-post2 h4, .other-post3 h4 {
  margin: .7em 0 -.2em 0;
}
.fashion-likes img {
  width: 90%;
  height: 18em;
  object-fit: cover;
}

/*----------- Category Page --------------*/
.fashionbanner {
  position: relative;
}
.fashionbanner h2 {
  font-family: 'Rosario', sans-serif;
  font-weight: 100;
  font-size: 1.1em;
  letter-spacing: .7em;
  position: absolute;
  left: 46%;
  bottom: 22%;
  color: white;
}
.fashionbannerimg {
  top: 3em;
  position: relative;
  width: 100%;
  height: 30em;
  object-fit: cover;
  object-position: 0 -4em;
  filter: brightness(50%);
}
#fashiontitle {
  border: 4px solid white;
  color: white;
  font-family: 'Sail', serif;
  font-size: 5em;
  position: absolute;
  left: 50%;
  bottom: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}
#clickablepost {
  margin-top: 8em;
  margin: 7.5em auto 0 auto;
}
#clickablepost h2 a {
  text-decoration: none;
  color: black;
  transition: all 0.5s ease 0s;
  font-family: 'Playfair Display', serif;
  font-size: 1.5em;
  font-weight: 200;
  margin-top: 8px;
  margin: 10px auto 9px auto;
  width: 70%;
}
#clickablepost h2 a:hover {
  color: grey;
  transition: .9s;
}
#clickablepost p {
  /*color: grey;*/
  width: 75%;
  text-align: center;
  line-height: 2em;
  margin: 0 auto;
}
.fashionblog {
  width: 46em;
  margin: 0 auto;
}
.fashionposts {
  display: flex;
  margin: 5em auto;
}
.fashionposts div {
  text-align: left;
  margin-left: 2em;
  margin-top: 1em;
  justify-content: center;
}
.fashionposts img {
  width: 24em;
  height: 20em;
  object-fit: cover;
}
.fashionposts h3 {
  font-family: 'Playfair Display', serif;
  font-size: 1.8em;
  font-weight: 200;
  margin: 0;
}
.fashionposts p {
  line-height: 1.6em;
}
.fashionposts button, .greybox-text button, .currentposts button {
  padding: 10px 25px;
  font-size: .7em;
  color: grey;
  border: 2px solid grey;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.fashionposts button:hover, .greybox-text button:hover, .currentposts button:hover {
  letter-spacing: 1px;
  border: 2px solid orangered;
  background-color: orangered;
  color: white;
  border-radius: 0;
}
.shoealign {
  object-position: right;
}
.greybox-text button, .currentposts button {
  font-size: .5em;
  padding: 10px 22px;
}

/*--------------- Footer ------------------*/
footer {
  background-color: #1A1A1A;
  margin: 0;
  text-align: center;
  padding: 3em 8em;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
footer ul {
  list-style-type: none;
  color: white;
  line-height: 3em;
  position: relative;
  right: 2.4em;
  bottom: 2em;
}
footer h3 {
  font-weight: 100;
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 2em;
}
.footer-about {
  grid-column: 1/2;
  color: white;
}
.footer-about p {
  color: white;
  line-height: 1.8em;
  position: relative;
  bottom: .3em;
}
.footer-nav, .footer-about {
	text-align: left;
}
/* .footer-nav {
  position: relative;
  left: 12em;
} */
.footer-nav {
  grid-column: 2/3;
}
/* .footer-vim {
  bottom: 6em;
  grid-column: 3/4;
  position: relative;
} */
.footer-vim {
  grid-column: 3/4;
  margin-left: -4em;
}
.footer-vim h2 {
	font-size: 8em;
	font-weight: 100;
	margin-bottom: 0;
}
/* .navlists {
	display: flex;
} */
footer button {
  padding: 15px 40px;
  background-color: black;
  color: white;
  border: 2px solid black;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  transition: all 0.3s ease 0s;
  border-radius: 30px;
}
/*--------------- Other -----------------*/
@keyframes slider {
  0% {
    left: 0;
  }
  30% {
    left: 0;
  }
  35% {
    left: -100%;
  }
  65% {
    left: -100%;
  }
  70% {
    left: -200%;
  }
  95% {
    left: -200%;
  }
  100% {
    left: 0;
  }
}

@media (max-width: 1200px) 
{
  .footer-nav {
    left: 8em;
  }
}
@media (max-width: 1000px) {
  #clickablepost img {
    width: 95%;
    height: 23em;
    object-fit: cover;
  }
  #clickablepost h2 {
    font-size: 1.5em;
    width: 85%;
    margin: 1em auto;
  }
  .fashionbannerimg {
    height: 24em;
  }
  #fashiontitle {
    font-size: 4.4em;
  }
  .fashionbanner h2 {
    font-size: .9em;
  }

}
@media (max-width: 930px)
{
  .greybox {
    margin: 2em auto 3em auto;
    width: 90%;
  }
  .first-container {
    padding: 3em 2em;
  }
  hr {
    width: 90%;
  }
  .featuredposts img {
    width: 90%;
  }
  #clickablepost h2 {
    font-size: 1.5em;
    width: 85%;
  }
  .greybox-text {
    padding: 4em 2em 2em 2em;
  }
}
@media (max-width: 865px)
{
  .first-container {
    display: block;
    text-align: center;
  }
  .featuredposts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
  }
  .categories {
    margin: 2em 0 .7em 0;
  }
  .othertext {
    margin: 0 3em;
  }
  hr {
    width: 90%;
  }
  .list {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .list ul {
    text-align: center;
    grid-column: 2/3;
    margin: 0 auto;
  }
  .list ul li {
    line-height: 3em;
  }
  .featuredposts img {
    width: 100%;
  }
}
@media (max-width: 800px) {
  h1 {
    font-size: 2.5em;
  }
  .featured-logo {
    display: none;
  }
  .greybox-text h2 {
    font-size: 1.2em;
  }
  .article-content p {
    width: 85%;
  }
  .article-content img {
    width: 100%;
  }
  .article-content h1 {
    font-size: 2em;
  }
  .article-title {
    margin-top: 2.9em;
    font-size: 1.5em;
  }
  .other-post1 h4, .other-post2 h4, .other-post3 h4 {
    font-size: 1em;
  }
  .fashion-likes {
    margin: 0 1em 2.5em 1em;
  }
  .fashion-likes p {
    font-size: .8em;
    margin-top: 1em;
  }
  .fashion-likes img {
    width: 95%;
    height: 15em;
  }
  #fashiontitle {
    font-size: 4em;
  }
  .fashionbanner h2 {
    font-size: .9em;
    left: 44%;
  }
  #clickablepost h2 {
    font-size: 1.4em;
    width: 85%;
  }
  #clickablepost p {
    font-size: .95em;
    line-height: 2em;
    width: 85%;
  }
  .fashionposts {
    display: block;
    margin: 4em auto;
  }
  .fashionposts div {
    text-align: center;
    margin: 1em auto 0 auto;
  }
  .fashionposts img {
    width: auto;
    height: 20em;
    object-fit: cover;
  }
  .fashionposts h3 {
    font-size: 1.6em;
  }
  .fashionblog {
    width: 77%;
  }
}
@media (max-width: 700px)
{
  .greybox {
    display: block;
    height: 100%;
  }
  .greybox img {
    width: 100%;
  }
  .greybox-text {
    padding: 1.5em 2.5em 2.5em 2.5em;
  }
  .greybox-text span {
    font-size: .65em;
  }
  .lastname {
    line-height: 2.5em;
  }
  .list {
    justify-content: center;
    display: block;
  }
  .otherposts {
    margin-top: 1.5em;
  }
  #billie {
    object-position: left;
  }
  #shoes {
    object-position: right;
  }
  .fashionbannerimg {
    object-position: top;
  }
  #fashiontitle {
    font-size: 3.6em;
  }
  .fashionbanner h2 {
    font-size: .8em;
    left: 44.2%;
    bottom: 24%;
  }
  .fashionblog {
    width: 85%;
  }
  .fashionposts button {
    font-size: .6em;
  }
  .currentposts img {
    height: 20em;
  }
}
@media (max-width: 600px) {
  .fashion-likes {
    display: block;
  }
  .fashion-likes img {
    width: 90%;
    height: 18em;
  }
  .other-post1 h4, .other-post2 h4, .other-post3 h4 h4 {
    font-size: 1.2em;
  }
  .fashion-likes p {
    font-size: .9em;
    margin-top: 1em;
    margin: 1em 0 3em 0;
  }
  .article-content h1 {
    font-size: 1.7em;
  }
  .fashionposts img {
    width: 95%;
  }
  .currentposts h2 {
    font-size: 1.5em;
  }
  .currentposts p {
    font-size: .7em;
  }
}
@media (max-width: 467px) {
  .list {
    display: block;
    text-align: center;
    grid-template-columns: 1fr 1fr;
  }
  .featuredposts {
    display: block;
  }
  .greybox-text h2 {
    font-size: 1em;
  }
  .fashionbanner h2 {
    font-size: .8em;
    left: 42%;
    bottom: 24%;
  }
  .fashionposts h3 {
    font-size: 1.4em;
  }
  .fashionposts p {
    font-size: .9em;
  }
  .currentposts span {
    font-size: .8em;
  }
}
