body {
  text-align: center;
  justify-content: center;
  text-decoration: none;
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  top: 0;
  align-items: center;
  justify-content: center;
  background-color: white;
  /*position: fixed;*/
  padding: 0;
  margin-top: -1em;
}
ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}
.navbar a {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: .78em;
  font-family:'Montserrat', sans-serif;
  margin: 0 2.1em;
  letter-spacing: 2px;
}
li a:hover {
  text-decoration: underline;
}
.logo {
  position: relative;
  top: 1em;
  max-height:7.5em;
  width: auto;
}
/* .banner img {
  height: 36em;
  width: 100%;
  margin-bottom: 0;
} */
.first-container {
  max-height: 36em;
  max-width: 100%;
  background-color: lightgrey;
  margin: 0 auto;
}
.slider {
  margin: -1em auto 1em auto;
  max-width: 70em;
  max-height: 36em;
  overflow: hidden;
}
.slider figure {
  position: relative;
  width: 300%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}
.slider figure img {
  width: 33.3333%;
  float: left;
}
@keyframes slider {
  0% {
    left: 0;
  }
  30% {
    left: 0;
  }
  35% {
    left: -100%;
  }
  65% {
    left: -100%;
  }
  70% {
    left: -200%;
  }
  95% {
    left: -200%;
  }
  100% {
    left: 0;
  }
}
.banner1 {
  width: 100%;
  height: auto;
}
.featured {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.featured img {
  width: 30%;
  height: auto;
  margin: 0 1em;
}
h1 {
  font-size: 1.5em;
  font-weight: 300;
}
/* footer {
  background-color: #121212;
  height: 5em;
  width: 100%;
  margin: 0;
}*/
@media (max-width: 1050px)
{
    #featured3
    {
        display: none;
    }
    .featured img {
      width: 47.5%;
      margin: .5em;
    }
}
@media (max-width: 760px)
{
  #featured1
  {
      display: none;
  }
  .featured img {
    width: 95%;
  }
}
